.sec-section{
    height: 700px;
    display: flex;
    margin-top: 100px;
    justify-content: center;  
}
.sec-section .sec-section-c{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sec-section .sec-section-c .text-sec{
    position: relative;
    height: 140px;
    width: 700px;
    text-align: center;
    font-size: 15px;
}
.sec-section .sec-section-c .text-sec h1{
    color: #414f7b;
}
.video{
  height: 440px;
    width: 801px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}